.dropzone {
    border-style: dotted;
}
.image-thumbnail.active {
    border: 2px solid #6e6de5;
}
.image-thumbnail {
    width: 114px;
    margin: 3px;
    border: 1px solid #cfcfcf;
    padding: 1px;
    display: inline-flex;
    position: relative;
}
.image-thumbnail span {
    position: absolute;
    bottom: 0;
    background: #f2f2f2d9;
    color: #333;
    font-weight: 600;
    width: 100%;
    padding: 2px;
    width: 100%;
}
.file-content {
    display: inline-block;
}
.course-content {
    border: 1px solid #ccc;
    padding: 5px;
    height: 260px;
    overflow: hidden scroll;
}
.course-content p {
    margin: 7px 12px;
}
.white-popup {
    position: relative;
    background: #FFF;
    padding: 22px 10px 0 10px;
    width: auto;
    max-width: 98%;
    margin: 20px auto;
    transition: 1s all;
}
.text-right {
    text-align: right !important;
}
.add-media {
    margin-bottom: 20px;
}